.container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image:url(../kadai2/img/071943.jpeg);
    padding: 20px 10px;
}

.left-side h1 {
    color: black; /* タイトルのテキストを黒に */
    margin-bottom: 20px;
    text-align: center;
}

#remote-video {
    flex: 1;
    width: calc(100% - 20px); /* 左右のマージンを考慮してサイズを調整 */
    height: calc(100% - 40px); /* 上下のマージンを考慮してサイズを調整 */
    object-fit: cover;
    margin: 20px 10px;
    display: block;
    background-color: black; /* ビデオの背景を黒に変更 */
}

.right-side {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.video-box, .subtitles-box, .input-box, .response-box {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

/* 以下がビデオ用 */
video {
    background-color: #111;
    width: 90%;
    height: 100%;
    max-height: 350px;
  }

/* 以上がビデオ用 */


h1 {
    font-size: 24px;
}

.subtitles-box {
    overflow-y: scroll;
}

.input-box {
    display: flex;
    align-items: center;
}

.input-box input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.response-box {
    background-color: #f9f9f9;
}


/* ボタンのスタイル */
button {
    padding: 5px 10px; /* ボタン内の余白を調整 */
    font-size: 14px; /* フォントサイズを小さく */
    background-color: #0bd; /* 背景色を緑色に設定 */
    color: white; /* 文字色を白に設定 */
    border: none; /* ボーダーを削除 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインタに変更 */
    margin: 5px; /* ボタン間の間隔を設定 */
}

/* ボタンにホバーしたときのスタイル */
button:hover {
    background-color: #00a; /* ホバー時の背景色を変更 */
}

/* 特定のボタンにスタイルを適用 */
#hide-subtitles, #show-subtitles {
    font-size: 12px; /* フォントサイズをさらに小さく */
    padding: 3px 8px; /* ボタン内の余白を調整 */
    background-color: #7fd9d2; /* 背景色を青色に設定 */
}

#hide-subtitles:hover, #show-subtitles:hover {
    background-color: #3aacaa; /* ホバー時の背景色を濃い青に変更 */
}

.subtitle-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.subtitle-buttons button {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #77777777;
    border-radius: 4px;
}

.subtitle-buttons button:hover {
    background-color: #e0e0e0;
}

#delete-answer {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #77777777;
    border-radius: 4px;
}

#delete-answer:hover {
    background-color: #33333333;
}










